# NextAuth Configuration Frontend
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=test123456

# Google OAuth
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET

# GitHub OAuth
GITHUB_ID=YOUR_GOOGLE_CLIENT_ID
GITHUB_SECRET=YOUR_GOOGLE_CLIENT_SECRET

# Backend API URL
NEXT_PUBLIC_API_URL=your_localport